.item__wrapper {
  background-color: var(--color-white);
  border: 2px solid var(--color-gray-200);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.875rem;
  padding: 1.5rem 3.125rem;

  &:hover {
    background-color: var(--color-theme);
  }

  .img__container {
    width: 80px;
    height: 80px;

    img {
      width: 100%;
      height: auto;
    }
  }

  h4 {
    color: var(--color-purple-500);
    letter-spacing: 0.02rem;
    text-decoration: none;
  }
}