.item__wrapper {
  border: 2px solid var(--color-gray-200);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.875rem;
  padding: 1.5rem 3.125rem;
  transition: all .5s;

  &:hover {
    background-color: var(--color-theme);
  }

  &:active {
    border: 2px solid var(--color-purple-800);
    color: var(--color-purple-800);
  }

  .img__container {
    width: 80px;
    height: 80px;

    img {
      width: 100%;
      height: auto;
    }
  }

  h4 {
    color: var(--color-purple-400);
    letter-spacing: 0.02rem;
    text-decoration: none;
  }
}