.item__wrapper {
  border: 2px solid var(--color-gray-200);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.875rem;
  padding: 1.5rem 3.125rem;
  transition: all .5s;
  
  h4 {
    color: var(--color-purple-400);
    text-decoration: none;
  }

  .img__container {
    height: 6.5rem;
    width: 6.5rem;

    img {
      height: auto;
      width: 100%;
    }
  }

  &:hover {
    background-color: var(--color-theme);
    border: 2px solid var(--color-theme);
  }

  &:focus {
    box-shadow: 0.5rem 0.5rem 0.2rem var(--color-purple-50)
  }

  &:active {
    background-color: var(--color-purple-800);
    border: 2px solid var(--color-purple-800);
  }
}