form {
  .form__block {
    display: flex;
    align-content: center;
    column-gap: 1.5rem;
    width: 100%;

    >div {
      width: 100%;
    }
  }
  
  .form__field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 1rem;

    input {
      color: var(--color-gray-400);
      font-family: 'Source Sans Pro', sans-serif;
      padding: 0.5rem;
    }

    label {
      color: var(--color-gray-600);
      font-weight: bold;
    }
    
    .field__message {
      color: var(--color-gray-400);
      font-size: 0.875rem;
    }
    
    .error__message {
      color: var(--color-red);
      font-size: 0.875rem;
    }
    
    .phone__label {
      display: flex;
      align-items: center;
      column-gap: 0.2rem;
    }

    .phone__field {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      width: 100%;
      
      >div {
        color: var(--color-gray-400);
        font-family: 'Source Sans Pro', sans-serif;
      }
    }
    
    .terms__field {
      align-items: center;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

    .help__button {
      all: unset;
    }
  }
  
  .button__wrapper {
    display: flex;
    column-gap: 2rem;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 2rem;
  }
}

//Para editar os itens do dropdown
.phone__label {
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
}

@media (max-width: 720px) {
  form {
    .form__block {
      flex-wrap: wrap;
  
      >div{
        width: 100%;
      }
    }
  }

  .button__wrapper {
    flex-wrap: wrap;
    row-gap: 1rem;
  }
}